body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #172132;
    color: #BCC6FD;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #87ADFA;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.auth-buttons button:hover {
    background-color: #777;
}

main {
    padding: 20px;
}

.news, .formats, .download {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-item, .format {
    margin-bottom: 15px;
}

.app-links a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
